@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@-webkit-keyframes collapseAnim {
  0% {
    width: 15%;
    border-top: 1px solid white;
  }
  100% {
    width: 100%;
    border-top: 1px solid white;
  }
}
@keyframes collapseAnim {
  0% {
    width: 15%;
    border-top: 1px solid white;
  }
  100% {
    width: 100%;
    border-top: 1px solid white;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid black; */
}

a {
  outline: none;
}

.navbar {
  box-shadow: 0 1px 5px #d3d3d3;
  background-color: #0b486b;
  max-height: 420px;
  z-index: 1000;
}
.navbar .container-fluid .navbar-brand {
  width: 70%;
}
.navbar .container-fluid .navbar-brand img {
  width: 160px;
}
.navbar .container-fluid .navbar-toggler {
  width: 50px;
  border: none;
  color: #fff;
}
.navbar .container-fluid .navbar-toggler svg {
  width: 100%;
  fill: #fff;
}
.navbar .container-fluid .navbar-collapse .navbar-nav {
  margin-top: 20px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  -webkit-animation: collapseAnim 0.5s;
          animation: collapseAnim 0.5s;
  border-top: 1px solid #fff;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.header {
  box-shadow: 0 1px 5px #d3d3d3;
  margin: 10px 0;
  padding: 15px 0;
  background-color: #3b8686;
}
.header h1 {
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 1px #d3d3d3;
  text-align: center;
}

.main {
  box-shadow: 0 1px 5px #d3d3d3;
  margin: 10px 0;
  padding-top: 15px;
}
.main .card {
  background-color: #3b8686;
  width: 260px;
  height: 480px;
  border: 1px solid #3b8686;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  box-shadow: 10px 12px 20px rgb(160, 160, 160);
}
.main .card img {
  height: 250px;
}
.main .card .card-body h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.main .card .card-body p {
  font-size: 13px;
}
.main .card .card-body p:nth-child(3) {
  position: absolute;
  margin-top: 130px;
  font-weight: 700;
  font-size: 18px;
}
.main .card .card-body button {
  position: absolute;
  margin-top: 165px;
  background-color: #0b486b;
  border: none;
  box-shadow: 1px 2px 3px #272727;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px 0;
  width: 150px;
  color: #fff;
  transition: 0.3s;
}
.main .services a {
  display: block;
  min-width: 280px;
}
.main .services a figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.main .services a figure img {
  transition: 0.4s;
  width: 100%;
  opacity: 0.96;
}
.main .services a figure figcaption {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 0 15px black;
  font-weight: 700;
  transition: 0.2s;
  text-shadow: 0 0 5px #272727;
  transform: translateY(30px);
}
.main .most-selled {
  box-shadow: 0 1px 5px #d3d3d3;
  padding: 10px 0;
}
.main .most-selled h2 {
  box-shadow: 0 1px 5px #d3d3d3;
  width: 100%;
  background-color: #3b8686;
  padding: 15px 0;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 1px #000;
  text-align: center;
}
.main .most-selled .carousel {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  height: 500px;
  display: flex;
  box-shadow: 0 1px 5px #d3d3d3;
}
.main .most-selled .carousel button span img {
  width: 35px;
}
.main .newsletter {
  box-shadow: 0 1px 5px #d3d3d3;
  padding: 10px 0;
  background-color: #0b486b;
}
.main .newsletter h2 {
  padding: 15px 0;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 1px #000;
  text-align: center;
}
.main .newsletter form {
  margin-bottom: 10px;
}
.main .newsletter form input {
  width: 60%;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  border: none;
  outline: none;
}
.main .newsletter form button {
  background-color: #8ddbe1;
  color: #000;
  position: relative;
  left: -8px;
  width: 100px;
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}
.main .carrito {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: center;
}
.main .carrito h2 {
  height: 40px;
}
.main .carrito .productos .productosLista {
  padding: 0;
}
.main .carrito .productos .productosLista li {
  height: 30px;
}
.main .carrito .cantidad .cantidadLista {
  padding: 0;
}
.main .carrito .cantidad .cantidadLista li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 30px;
}
.main .carrito .cantidad .cantidadLista li button {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 2px;
}
.main .finalizarCompra {
  text-align: center;
  padding-bottom: 15px;
}

.grid-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-products .card {
  margin: 10px 5px;
}

.footer {
  text-align: center;
  background-color: #0b486b;
  color: white;
}
.footer .logo {
  width: 150px;
  margin-bottom: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.footer h2 {
  color: #fff;
  margin-bottom: 10px;
}
.footer .hours, .footer .copyR, .footer .address, .footer .reservations {
  margin: 10px;
  width: 100%;
}
.footer .hours div, .footer .copyR div, .footer .address div, .footer .reservations div {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer .hours div img, .footer .copyR div img, .footer .address div img, .footer .reservations div img {
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
}
.footer .reservations a {
  color: #fff;
  width: 200px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer .reservations a img {
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
}
.footer .copyR {
  color: #deeea2;
  font-size: 12px;
}

@media (min-width: 839px) {
  .main .services {
    max-width: 839px;
  }
  .main .newsletter form input {
    width: 35%;
  }
}
@media (min-width: 1200px) {
  .main .card .card-body button:hover {
    background-color: #fff;
    color: #0b486b;
  }
  .main .services {
    max-width: 100%;
  }
  .main .services a figure:hover img {
    opacity: 0.6;
  }
  .main .services a figure:hover figcaption {
    scale: 1.2;
    transform: translateY(0);
  }
  .main .most-selled button {
    margin: 0 300px;
  }
  .main .most-selled .carousel button:hover {
    opacity: 1;
  }
  .main .newsletter form input {
    width: 20%;
  }
  .main .newsletter button:hover {
    background-color: #fff;
    color: #0b486b;
  }
}/*# sourceMappingURL=main.css.map */