//reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* border: $border; */
}

//nav

.navbar {
    @include box_shadow;
    background-color: map-get($map: $palette, $key: '4');
    max-height: 350px;
    z-index: 1000;

    .container-fluid {
        .navbar-brand {
            width: 70%;

            img {
                width: 150px;
            }
        }

        .navbar-toggler {
            width: 50px;
            border: none;
            color: $white;

            svg {
                width: 100%;
            }
        }

        .navbar-collapse {
            .navbar-nav {
                margin-top: 20px;

                .nav-item {
                    animation: collapseAnim 0.5s;
                    border-top: 1px solid $white;

                    .nav-link {
                        font-weight: 500;
                        color: map-get($map: $second_palette, $key: '5');
                        text-align: center;
                    }
                }
            }
        }
    }
}

//header

.header {
    @include box_shadow;
    padding: 20px 0;

    h1 {
        font-size: 22px;
        color: map-get($map: $second_palette, $key: '5');
        text-shadow: 0 1px 1px $light_gray;
        text-align: center;
    }
}