//palettes

$palette: (
    '1': #deeea2,
    '2': #c7e7b3,
    '3': #ace1b9,
    '4': #9ee3d5,
    '5': #8ddbe1,
);

$second_palette: (
    '1': #cff09e,
    '2': #a8dba9,
    '3': #79bd9a,
    '4': #3b8686,
    '5': #0b486b,
);

$white: #fff;
$light_gray: #d3d3d3;
$dark_gray: #333333;
$black: #000;
